body{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* contenitore 1*/
.box-head{
  padding: 16px 0;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.debug header{
  background-color: #add8e6;
}

.debug .header-top{
  background-color: #daa520;
}

.logo{
  width: 20%;
  padding: 5px;
  border: 2px dashed black;
}

.link{
  width: 60%;
  text-align: center;
  padding: 5px;
  border: 2px dashed black;
}

.login{
  width: 20%;
  padding: 5px;
  text-align: right;
  border: 2px dashed black;
}


/* contenitore 2*/
.sub-header{
  background-color: #00008b;
  padding: 40px;
}

.debug .pink-box{
  background-color: #ee82ee;
  border: 2px dashed black;
}

/* contenitore 3*/
.debug .col-big{
  background-color: #1e90ff;
  border: 2px dashed black;
}

.debug .col-small{
  background-color: #ffc0cb;
  border: 2px dashed black;
}

/* contenitore 4*/
.grey{
  background-color: lightgrey;
}

.row{
  display: flex;
  padding: 40px 0;
  width: 100%;
}

/* contenitore 5*/
.debug .col-big{
  background-color: #1e90ff;
  border: 2px dashed black;
}

.debug .col-small{
  background-color: #ffc0cb;
  border: 2px dashed black;
}

.col-big{
  width: 60%;
  height: 450px;
}

.col-small{
  width: 40%;
  height: 450px;
}

.row{
  display: flex;
  padding: 40px 0;
  width: 100%;
}

/* contenitore 6*/
.row{
  display: flex;
  padding: 40px 0;
  width: 100%;
}

.box-green{
  width: 1000%;
  height: 900px;
}

.debug .box-green{
  background-color: green;
  border: 2px dashed black;
}

/* contenitore 7*/
.light-black{
  background-color: #23272a;
}

.row-footer{
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
}

.col-big-footer{
  width: 33.33%;
  height: 600px;
  border: 2px dashed black;
}

.debug .col-big-footer{
  background-color: #f08080;
}

.col-small-footer{
  width: 16.6%;
  height: 600px;
  border: 2px dashed white;
}

.debug .col-small-footer{
  background-color: #20b2aa;
}

