body{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* contenitore 1*/
.box-head{
  padding: 16px 0;
}

.debug header{
  background-color: #add8e6;
}

.debug .header-top{
  background-color: #daa520;
}

/* contenitore 2*/
.debug .pink-box{
  background-color: #ee82ee;
  border: 2px dashed black;
}

/* contenitore 3*/
.debug .col-big{
  background-color: #1e90ff;
  border: 2px dashed black;
}

.debug .col-small{
  background-color: #ffc0cb;
  border: 2px dashed black;
}

